.images {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
}

.active-image img {
  max-width: 510px;
  max-height: 511px;
  width: auto;
  height: auto;
  margin-left: 20px;
}

.images-vr {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.images-hr {
  display: flex;
  column-gap: 32px;
  position: relative;
  left: 100px;
  top: -40px;
}

.images-vr img,
.images-hr img {
  max-width: 79px;
  width: auto;
  height: auto;
  cursor: pointer;
}

.unavailable {
  position: relative;
  background: #ffffff;
  opacity: 0.5;
}

.unavailable p {
  position: absolute;
  left: 40%;
  top: 40%;
  font-size: 24px;
  line-height: 160%;
  font-style: normal;
  font-weight: normal;
  color: #8d8f9a;
}
