.info {
  height: auto;
}

.info h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
}

.info .name {
  font-weight: normal;
  font-size: 30px;
  line-height: 27px;
  margin: 16px auto 43px;
}

.info h4 {
  font-family: "Roboto", Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
}

.info .price {
  font-weight: bold;
  font-size: 24px;
  line-height: 18px;
  margin: 10px auto 20px;
}

.info .attributes {
  margin-bottom: 40px;
}

.info button {
  padding: 16px 93.5px;
  background: #5ece7b;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  color: #ffffff;
  border: 1px solid #5ece7b;
  cursor: pointer;
}

.info button:hover,
.info button:active {
  background: #1ab844;
}

.description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 159.96%;
  margin: 40px auto 72px;
}

button.invalid,
.info button:disabled {
  cursor: not-allowed;
}

p.invalid {
  color: #ff0000;
}

.warning {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  color: #ff0000;
}

.info a:hover + p.warning {
  opacity: 1;
  visibility: visible;
}
