.header {
  width: 100%;
  height: 80px;
  display: flex;
  padding-right: 7%;
  padding-left: 7%;
  justify-content: space-between;
  align-items: center;
}

.actions {
  width: 70px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.currency h3 {
  width: 12px;
  height: 29px;
  font-weight: 500;
  margin-right: 10px;
}

.v-open,
.v-close {
  width: 8px;
  color: #000000;
}

.v-close {
  opacity: 0;
}

.currency > div:first-child {
  width: 28px;
  display: flex;
  justify-content: space-between;
}

.currency-types {
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-in-out;
}

.currency:hover .v-open {
  width: 0;
  opacity: 0;
}

.currency:hover .currency-types,
.currency:hover .v-close {
  opacity: 1;
  visibility: visible;
  transition: opacity 200ms ease-in-out;
}

.disappear:hover .currency-types {
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-in-out;
}
